<form action="/addShop" method="post">
    <h2>Add a new shop</h2>
    <label for="shop name"> Shop name</label>
    <input type="text" name="shop_name">

    <button type="submit">Add new shop</button>
</form>