<h2>Best deals - the top 5 deals</h2>

<ol>
    {{#each topFiveDeals}}
        <li>{{qty}} for {{price}} - {{id}}</li>    
    {{/each}}
</ol>



<form action="/recommend" method="post">
    <label for="recommend">How much money do you have?</label>
    <input name="vusi_money">

    <button type="submit">Get recommendations</button>
</form>